<!-- <div class="colorNav">
</div> -->


<!-- <div class="grid flex flex-wrap col-12 mt-5">

    <div class="flex flex-column gap-3 ml-3">
        <div *ngFor="let category of categories" class="field-checkbox">
            <p-radioButton [inputId]="category.key" name="category" [value]="category"
                [(ngModel)]="selectedCategory"></p-radioButton>
            <label [for]="category.key" class="ml-2">{{ category.name }}</label>
        </div>
    </div>

    <div class="flex flex-column gap-3 justify-content-end">
        <div *ngFor="let category of categories" class="field-checkbox">
            <p-radioButton [inputId]="category.key" name="category" [value]="category"
                [(ngModel)]="selectedCategory"></p-radioButton>
            <label [for]="category.key" class="ml-2">{{ category.name }}</label>
        </div>
    </div>
</div> -->

<div class="col-12 flex flex-wrap justify-content-center">
    <span class="font-bold text-2xl">Marcador de Truco</span>
</div>


<div class="grid">
    <div class="col-6">
        <div class="text-center p-3 border-round-sm font-bold">
            <div class="col-6 w-full">
                <p-button (click)="showdialogA()" styleClass="p-button-rounded w-full">{{nometimeA}}</p-button>
            </div>
            <div class="ml-4">
                <div class="flex-column gap-3">
                    <div *ngFor="let pontoA of pontosA" class="field-checkbox">
                        <p-radioButton class="custom-radio" [inputId]="pontoA.key" name="category" [value]="pontosA"
                            [(ngModel)]="timeA"></p-radioButton>
                        <label [for]="timeA.key" class="ml-2">{{ pontoA.name }}</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-6">
        <div class="text-center p-3 border-round-sm font-bold">
            <div class="col-6 w-full">
                <p-button styleClass="p-button-rounded w-full">{{nometimeB}}</p-button>
            </div>
            <div class="ml-4">
                <div class="flex-column gap-3">
                    <div *ngFor="let pontoB of pontosB" class="field-checkbox">
                        <p-radioButton [inputId]="pontoB.key" name="category" [value]="pontosB"
                            [(ngModel)]="timeB"></p-radioButton>
                        <label [for]="timeB.key" class="ml-2">{{ pontoB.name }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog header="Header" [modal]="true" [(visible)]="dialogA">
    <div class="flex flex-wrap col-12">
        <input pInputText type="text" placeholder="Normal" [(ngModel)]="value2" />
    </div>
</p-dialog>